.test-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  padding: 20px;
}

.sidebar {
  width: 20%;
  background: #f0f0f0;
  padding: 20px;
}

.sidebar-ul {
  list-style: none;
  padding: 0;
}

.sidebar-li {
  cursor: pointer;
  margin: 10px;
  color: rgb(var(--foreground-rgb));
}

.sidebar-li-active {
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  color: rgb(var(--foreground-rgb));
}

.sidebar-li:hover {
  text-decoration: underline;
}

.test-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.test-result {
  padding-left: 16px;
  margin-left: auto;
}

.test-title-and-result-container {
  display: flex;
  /* justify-content: space-between; */
  padding: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 1.4s linear infinite;
}

.icons {}

.fail {}

.success {}

.skipped {}

.hidden {
  display: none;
}

.test-title-and-result-container svg {
  margin-right: 8px;
}