:root {
  --font-mono: 'Fira Code', 'Courier New', monospace;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --card-rgb: 255, 255, 255;
  --card-border-rgb: 255, 255, 255;

  --border-radius: 8px;
  --border-width: 3px;

  --border-color-primary: #c6c8ca;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.loading-container {
  border: none !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color-primary);

  width: 350px;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.model-visualizer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.model-visualizer-node {
  margin: 8px 0px;
  cursor: pointer;
  overflow-wrap: break-word;

  transition: box-shadow 0.2s;
}

.model-visualizer-node:hover {
  box-shadow: 3px 3px 6px rgba(33, 33, 33, .3);

  h2 {
    text-decoration: underline;
  }
}

.active-node {
  box-shadow: 3px 3px 6px rgba(33, 33, 33, .3);
  /* outline: #86b3e7; */
  border: var(--border-width) solid #0085f2 !important;
  outline: var(--border-width) solid #99d2f8;
}

.not-supported {
  /* Missing nodes have slight red background color */
  background-color: #f8d7da;
  border: var(--border-width) solid #f5c6cb;
}

.missing-data {
  /* Not supported nodes have slight yellow background color */
  background-color: #fff3cd;
  border: var(--border-width) solid #ffeeba;
  border-radius: 0.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.op-node-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;

  overflow-wrap: break-word;
}

/* When the sidebar is on the left (and model visualizer is on the right). */
.sidebar-dimensions-and-border {
  height: 100vh;
  width: 50vw;

  border-right: var(--border-width) solid var(--border-color-primary);
}

.model-visualizer-container-with-sidebar {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 50vw;
}

@media(max-width: 768px) {
  .sidebar-dimensions-and-border {
    width: 100vw;
    height: 50vh;

    border-right: none;
    border-bottom: var(--border-width) solid var(--border-color-primary);
  }

  .model-visualizer-container-with-sidebar {
    position: absolute;
    top: 50vh;

    overflow: scroll;

    /* Reset justify-content to the default value. If not, the browser will attempt to center the content. */
    justify-content: flex-start;

    height: 50vh;
    width: 100vw;
  }
}